$wrapper
  max-width: 1200px!important;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  padding-right: 380px!important
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem


.demo-model,.business-model{
    position: fixed!important;
    right:30px!important
    font-size: 16px;
    background-color: #fff;
    width: 330px;
    position: fixed;
    z-index: 10;
    margin: 0;
    top: calc(50vh - 280px + 1.8rem);
    box-sizing: border-box;
    overflow-y: auto;
    background-image: url('https://www.uviewui.com/common/iPhoneX_model.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 30px;
    padding: 48px 23px 38px 16px;
    width: 310px;
    height: 627.87024px;
    top: calc(50vh - 313.93512px + 1.8rem);
    overflow: hidden;
}

@media screen and (min-width: 1920px){
    width: 350px;
    height: 708.88575px;
    top: calc(50vh - 354.44288px + 1.8rem);
}